*{
    background-color: black;
    color: white;
    overflow-y: hidden;
    font-family: 'JetBrains Mono', monospace;
}
body{
    margin: 0px;
}
img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}
.tech {
    align-content: center;
    justify-content: center;
}
#container {
    color: white;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    grid-gap: 5vh;
}
#progress{
    color: white;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: 2px solid white;
}
#sudoku {
    
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    align-self: center;
    width: 65vh;
    height: 65vh; 
    border: 2px solid white;
}
#techniques{
    overflow-y: scroll;
    width: 20vw;
    border: 2px solid white;
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    margin-left: 5px;
}
#console{
    grid-row:  5 / 7;
    border: 2px solid white;
    margin-bottom: 5px;
}
#sidebar {
    width: 20vw;
    border: 2px solid white;
    grid-column: 3 / 4;
    grid-row: 2 / 6;
    margin-right: 5px;
}
.ca {
    margin: 0px;
    padding: 0px;
    border: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cand {
    border: none;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #c0b5cb;
    font-size: 1.25vw;
}
.sc {
    border: none;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 3.7vw;
    width: 100%;
    height: 100%;
}
.cell {
    border: 0px;
    padding: 0px;
    border: 1px solid gray;
}
.folder {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.subfolder {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1.2vw;
    margin-left: 2vw;
    width: (100% - 2vw);
}
.progress-bar {
    color: green;
}
a {
    font-size: 1.2vw;
}
.noResize {
    resize: none;
    overflow: hidden;
}