*{
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: mono;
}

.frame{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;
}

.sideBar{
  width: 20%;
  height: 90%;
  display: flex;
  font-size: 1.5vw;
  flex-direction: column;
  
}

.sideBar > button {
  width: auto;
  height: 50px;
  font-size: 130%;
  background-color: black;
  color: white;
  text-align: center;
  align-self: top;
}

.sideBar > button:not(#settings) {
  margin-top: 20px;
  font-size: 130%;
}

#settings {
  margin-top: auto;
}

#input{
  background-color: black;
  color: white;
  text-align: left;
}

a:not(.dontSquish){
  padding: 2px;
  border-color: white;
  width: auto;
  height: 10%;
  background-color: black;
  font-size: 130%;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}
a#recent{
  height: 40vw;
  width:fit-content;
  align-self: start;
  justify-self: end;
  margin-top: 0px;
  padding: 2px;
  margin-right: 8%;
  grid-column: 3 / 4;
}
#display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

#recent {
  grid-row: 1;
  align-self: top;
  justify-self: start;
}

button{
  border: 1px solid white;  
  font-size: 130%;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  text-align: left;
}
#histAnchor{
  width:fit-content;
  grid-column: 3 / 4;
  grid-row: end;  
  align-self: bottom;
}